.bgimg{
    background: url("../img/userinfo.jpg");
    /*background-color: #bdbdbd;*/
}
.colorchange{
    background-color: #eee;
    height: 450px;
}
.totop{
    margin-top: 100px;
}
.toptoright{
    float: right;
    height: 50px;
    padding: 15px 15px;
    font-size: 18px;
    line-height: 20px;
}
.setwordcolor{
    color: #9d9d9d;
}
.css1{
    border-radius: 5px;
   }